.box1{
    background-Color: #0D1521;
     height: 120px;

}
.box2{
    background-Color: #0D1521;
     height: 60px;
}      
.redes{
    font-Size: 60px !important;
    color: white;
}
.textos{
    color: white;
}
.footer{
    text-decoration:none;
}